<footer class="footer">

<div class="footer-container">


<!-- ABOUT -->

<div>

<h3 class="footer-title">Shashi Kumar Singh</h3>

<p>
Senior DevOps & Platform Engineer focused on building scalable cloud infrastructure,
CI/CD automation pipelines, and Kubernetes based production environments.
</p>

</div>



<!-- CONTACT -->

<div>

<h3 class="footer-title">Contact</h3>

<a id="footerEmail" class="footer-contact-item">
<img src="assets/icons/email.png">
<span>Email</span>
</a>

<a id="footerPhone" class="footer-contact-item">
<img src="assets/icons/phone.png">
<span>Phone</span>
</a>

<a id="footerWhatsapp" class="footer-contact-item">
<img src="assets/icons/whatsapp.png">
<span>WhatsApp</span>
</a>

<a class="footer-contact-item">
<img src="assets/icons/location.png">
<span id="footerLocationText"></span>
</a>

</div>



<!-- SOCIAL -->

<div>

<h3 class="footer-title">Connect</h3>

<div style="display:flex;gap:14px;margin-top:10px;">

<a id="footerLinkedin" class="footer-social-icon">
<img src="assets/icons/linkedin.png">
</a>

<a id="footerGithub" class="footer-social-icon">
<img src="assets/icons/github.png">
</a>

</div>


<div style="margin-top:20px">

<a id="footerResume" class="resume-btn" download>
Download Resume
</a>

</div>

</div>


</div>

</footer>