<header class="header">

<div class="logo">
Shashi DevOps
</div>


<nav class="nav-menu">

<a href="index.html">Home</a>

<a href="about.html">About</a>

<a href="experience.html">Experience</a>

<a href="projects.html">Projects</a>

<a href="contact.html">Contact</a>

</nav>


<div class="header-icons">

<a id="emailLink" class="icon-btn">
<img src="assets/icons/email.png" alt="email">
</a>

<a id="phoneLink" class="icon-btn">
<img src="assets/icons/phone.png" alt="phone">
</a>

<a id="whatsappLink" class="icon-btn">
<img src="assets/icons/whatsapp.png" alt="whatsapp">
</a>

<a id="linkedinLink" class="icon-btn">
<img src="assets/icons/linkedin.png" alt="linkedin">
</a>

<a id="githubLink" class="icon-btn">
<img src="assets/icons/github.png" alt="github">
</a>

<a id="resumeBtn" class="resume-btn" download>
Resume
</a>

</div>

</header>